.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.shoe__container {
  width: 400px;
  height: 448px;
  padding-top: 20px;
  border: 1px solid rgba(23, 23, 23, 0.42);
  box-shadow: 0 0 12px #00000061;
  border-radius: 4px;
  margin-bottom: 40px;
  overflow: hidden;
}
.shoe__container:hover {
  box-shadow: 0px 0px 19px #0000005c;
  transform: translateY(-2%);
  transition: all 0.75s ease-in-out;
}
.shoe__name {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.shoe__img__div {
  width: 398px;
  margin-top: 10px;
  height: 341.5px;
}
.shoe__image {
  width: 398px;
  height: 341.5px;
}
.card__footer {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add__to__cart {
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  border: none;
}
.add__to__cart:hover {
  background-color: rgba(0, 0, 0, 0.845);
}
